* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  height: 100vh;
  width: auto;
  border-right: 1px solid rgb(227, 230, 227);
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.logo {
  font-size: 25px;
}
.bars {
  display: flex;
  font-size: 25px;
}
.link {
  display: flex;
  columns: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.2s;
  color: black;
}
.link:hover {
  background: white;
  color: #f1c232;
  transition: all 0.5s;
}
.active {
  background: #f1c232;
  color: white;
}
/* .link_text{
  font-size: 20px;
} */
.icon{
  font-size: 23px;
}